
:root {
  --forest: #0B3828;
}
*{
    padding: 0;
    margin: 0;
    text-decoration: 0;
    outline: 0;
    font-family: 'Times New Roman', Times, serif;
    border: 0;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--forest);
}
.register-container{
    display: block;
    padding: 2rem;
    background-color: white; 
    width: 20rem;
    height: 20rem;
    border-radius: 1rem;
   box-shadow: 0.8rem 0.8rem 0.8rem 8px rgb(3, 33, 10);
}
.register-container h2{
    text-align: center;
    margin-bottom: 1.5rem;
}
.register-container form{
    display: block;
    max-width: 20rem;
    
}
.register-container form input{
    width: 95%;
    padding: 0.5rem;
    border: 1px solid black;
    margin-top: 0.5rem;
}
.register-container form label{
    font-size: 1rem;
    font-weight: bolder;
    display: block;
    margin-top: 0.6rem;
}
.register-container span{
    display: block;
    font-size: 1rem;
    margin-top: .6rem;
}
.register-container form a{
    display: block;
    text-align: center;
    background-color: var(--forest);
    color: white;
    margin-top: 1rem;
    padding: 0.5rem;
    cursor: pointer;
}
.register-container form a:hover{
   background-color: rgb(1, 102, 1);
}
.pass-container{
    position: relative;
    display: flex;
    align-items: center
}
.pass-container i{
    position: absolute; 
    right: 10px;
     cursor: pointer;
     top:1rem;
}
span a{
    color: var(--forest);
}